<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>User Behavior in Design: A Survey</title>
<meta name="description"
  content="Survey for cookie banner study conducted on SVGO.dev." />
<meta property="og:image" :content="`${config.baseUrl}/assets/opengraph.jpg`" />
<link rel="icon" href="/assets/favicon.webp" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="760" />
<meta property="og:image:height" content="250" />
<link rel="stylesheet" href="/global.css" />
<link :href="getBundleFileUrl('css')" webc:keep rel="stylesheet">
<script webc:keep async
  src="https://plausible.falco.fun/js/pa-LxPzh311T9_KJHXbPucjc.js"></script>
<script webc:keep>
  window.plausible = window.plausible || function () { (plausible.q = plausible.q || []).push(arguments) }, plausible.init = plausible.init || function (i) { plausible.o = i || {} };
  plausible.init()
</script>
