@font-face {
  font-family: "Scabber";
  src: url("/fonts/Scabber.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Winky Rough";
  src: url("/fonts/Winky-Rough.woff2") format("woff2");
  font-display: swap;
}

:root {
  --vuko-accent-color: #580700;
  --vuko-background-color: #fff7da;
  --vuko-button-color: #fff5d5;
  --vuko-card-color: #fff;
  --vuko-link-color: #0057a8;
  --vuko-subtext-color: #763c2e;
  --vuko-text-color: #5e1a09;
  --vuko-card-shadow: #70560040;
  --vuko-peeper-height: 522px;
  --vuko-header-height: 250px;
  --vuko-font: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

html,
body,
main,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
  font-family: "Winky Rough", var(--vuko-font);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: var(--vuko-background-color);
  background-image: url('/assets/background.png');
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  color: var(--vuko-link-color);
  text-decoration: none;
}

textarea {
  min-height: 128px;
  resize: none;
}

input,
textarea {
  font-size: 1rem;
  background: none;
  color: var(--vuko-text-color);
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  border-color: rgb(from var(--vuko-text-color) r g b / .6);
  border-width: 0 0 1px 0;
}

.card {
  background: var(--vuko-card-color);
  border-radius: 20px;
  box-shadow: 0 4px 15px var(--vuko-card-shadow);
  padding: 48px;
}
